/* big tablets to 1200 (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .row {
        padding: 0 2%;
    }

    .main-nav ul li {
        font-size: 10px;
        padding: 10px;
    }


    /* small phones to small tablets from 768 to 1023px */
    @media only screen and (max-width: 1023px) {
        .main-nav ul li {
            font-size: 8px;
            padding: 7px;
        }


        .logo {
            width: 100px;
            padding-bottom: 8px;
        }

        .logo-name h1 {
            font-size: 100%;
            margin-top: 6px;
        }

        .logo-name h3 {
            font-size: 55%;
            font-weight: 500;
        }


        .sec-nav li {
            padding: 1px 2px 5px 0px;
        }

        .sec-nav li a {
            font-size: 60%;
            margin-right: 18px;
        }


        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            font-size: 13px;
            padding: 12px 16px;
        }


        .owners h3 {
            font-size: 60%;
            margin-bottom: 4px;
            font-weight: 400;
        }

        .owners h5 {
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 60%;
        }

        .owners h4 {
            font-size: 70%;
            margin-bottom: 20px;

        }


        .sec-title {
            font-size: 80%;
        }

        .director {
            width: 70px;
            border-radius: 3px;
            border-radius: 3px;

        }

        .director-name,
        .ceo-name {
            margin-top: 5px;
            font-size: 60%;
            color: #535353;
        }

        .ceo {
            width: 70px;
            height: 80px;
            border-radius: 3px;
            margin-bottom: 3px;
            margin-top: 20px;
        }


        .courses-content ul li {
            margin: 0 0 15px 30px;
        }

        .courses-content ul li:first-child {
            margin-top: 18px;
        }

        .courses-content ul li a {
            font-size: 60%;
        }

        .heading {
            padding: 10px;
            font-size: 70%;
            font-weight: 500;
            border-radius: 3px;
        }

        .admission-content ul li {
            list-style: disc;
            margin: 0 0 20px 30px;

        }

        .admission-content ul li:first-child {
            margin-top: 15px;
        }

        .admission-content ul li a {
            font-size: 60%;
        }

        .vticker {
            width: 100%;
            height: 450px;

        }


        .vticker li {
            padding: 14px;
            font-size: 55%;
            font-weight: 500;
            margin: 10px 0 0px 10px;
        }


    }



    /* small phones to small tablets from 0 to 480px */
    @media only screen and (max-width: 480px) {}




    /* small phones to small tablets from 481 to 767px */
    @media only screen and (max-width: 767px) {
        body {
            
        }
    }

     
    
    /* small phones to small tablets 1200px */
    
    @media only screen and (max-width: 1200px) {

        .admission-content ul li {
            margin: 0 0 26px 30px;

        }

        .courses-content ul li {
            margin: 0 0 23px 30px;
        }

        .director {
            margin-bottom: 8px;
        }

        .ceo {
            margin-bottom: 8px;
            margin-top: 20px;
        }
    }


    @media only screen and (max-width: 1022px) {
        .director {
            margin-bottom: 10px;
        }

        .ceo {
            margin-bottom: 10px;
            margin-top: 20px;
        }

        .owners h5 {
            margin-bottom: 35px;
        }

        .logo-name h1 {
            margin-top: 13px;
        }

        .main-nav ul li {
            font-size: 9px;
        }

        .main-nav ul li a {
            font-weight: 550;
        }

        .colleges-content ul li a {
            font-size: 65%;
        }

        .colleges-content h4 {
            font-size: 60%;
        }

        .shine-text ul li a {
            font-size: 60%;
        }

        .result-text ul li a {
            font-size: 60%;
        }
    }
    
    @media only screen and (max-width: 972px) {
        .courses-content ul li {
            margin-bottom: 20px;
        }
    }
    
    @media only screen and (max-width: 932px) {
        .courses-content ul li {
            margin-bottom: 17px;
        }
        
        .list-item {
            font-size: 19px;
        }
        
        .admission-content ul li {
            margin-bottom: 14px;
        }
        
        .ceo {
            margin-top: 10px;
        }
        
        .owners h5 {
            margin-bottom: 26px;
        }
        
        .vticker li {
            padding: 10.4px;
            font-size: 12px;
        }
        
        .courses-content ul li {
            margin-bottom: 17px;
            margin-right: 2px;
        }
        
        .admission-content ul li {
            margin-right: 5px;
        }

    }
    @media only screen and (max-width: 903px){
        .courses-content ul li {
           margin-bottom: 13.9px;
        }
    }
    
    @media only screen and (max-width: 894px){
        .courses-content ul li {
           margin-bottom: 11px;
        }
    }
    
    @media only screen and (max-width: 871px){
        .main-nav ul li {
            font-size: 7px;
        }
        .sec-nav ul li {
            font-size: 16px;
        }
    }
    
    @media only screen and (max-width: 856px){
        .vticker li {
            padding: 11.7px;
            font-size: 11px;
        }
    }
    
    @media only screen and (max-width: 833px){
        .admission-content ul li {
           margin-bottom: 3px
        }
    }
    
    @media only screen and (max-width: 817px){
        .courses-content ul li {
           margin-bottom: 14px;
           font-size: 17px;
        }
        
        .courses-content ul li:first-child {
            margin-top: 20px;
        }
    }
    
    @media only screen and (max-width: 805px){
        .vticker li {
            padding: 12.4px;
            font-size: 10px;
        }
    }
    
    @media only screen and (max-width: 773px){
        .shine-text ul li {
            font-size: 18px;
        }
        
    }